body {
    background: #cccccc;
}
    

#title, .subtitle, .post_title, {
    color: blue;
}

.post_title {
    font-size: 16pt;
    font-style: italic;
}

.post {
    background: floralwhite ;
    padding: 20px;
    border: 10px solid black;
    margin: 40px;

}