body {
    background: #f7f7f7;
    font-family: verdana;

}
    
a{
    text-decoration: line-through;
    color: dimgrey;

}
#title, .subtitle, .post_title {
    color:rgb(72, 72, 75);

}

#title {
    font-size: 30px;
    text-transform: uppercase;

}

.content_list{
    list-style-type: none;
    padding-left: 15px;

}

.content_list li a{
    text-decoration: none;
}
.post_title {
    font-size: 16pt;
    font-style: italic;
    margin: 0;
    margin-bottom: 15pt;


}

.post {
    background: floralwhite ;
    padding: 15px;
    border: 10px solid rgb(75, 73, 73);
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_imagin{

    margin-bottom: 15px;
}