body{
    background: #F6E3CE;
    margin-left: 100px;
    margin-right: 300px;
     
}

header {
    margin-top: 70px;
}

p{
    font-size:18px;
}

h1{
    color: royalblue;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

footer{
    margin-bottom: 30px;
}

.imagem_padrao{
    margin-bottom: 30px;
    width: 300px;
}
.logo{
    width: 40px;
}